body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group>.btn  {
  flex-shrink: 0; 
  margin: 5% 0% 0% 0%;
  padding: 0.5% 4%;
  font-size: 2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  margin: 4% 0%;
  padding: 0 10%;
}

.form-group> h1{
  text-align: center;
   border: 1px solid #ced4da;
   border-radius: 0.5rem;
  margin: 3% 0;
  padding: 3% 0%;
 font-size: 2vw;
 width: 50vw;
}

.App > .header{
  font-family: sans-serif;
  color: white;
  text-align: center;
  width: 100%;
  height: 10vh;
  background-color: #21bf73;
  font-weight: 900 ;
}

h1{
  padding: 1% 0;
}